# ---------- Database ----------
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/trams?schema=public"

# ---------- NATS ----------
NATS_URL=
NATS_USER=
NATS_PASSWORD=
NATS_STREAM_NAME=

# ---------- API Gateway ----------
GATEWAY_PORT=

# ---------- User Service ----------
JWT_SECRET=
JWT_EXPIRES_IN=
USER_SERVICE_QUEUE_GROUP=
PASSWORD_SALT_ROUNDS=

# ---------- Notification Service ----------
NOTIFICATION_DURABLE_NAME=
NOTIFICATION_MAX_DELIVER=

# ---------- Shared ----------
NODE_ENV=
LOG_LEVEL=
